### **Data Types and Structures Questions**

**1.What are data structures, and why are they important?**

Ans. Data structures are fundamental in computer science, acting as specialized formats for organizing, storing, and retrieving data efficiently. They are crucial for managing data in a way that makes it easier to understand, access, and manipulate, both for users and for machines. By organizing data in specific ways, data structures enable programs to perform operations more efficiently, such as searching, sorting, and updating.

**2.Explain the difference between mutable and immutable data types with examples?**

Ans. Mutable data types can be modified after their creation, while immutable data types cannot. Mutable types allow in-place changes, while immutable types require creating new objects to represent changes. Examples for mutable data types >> Lists, dictionaries, and sets and for immutable Data Types they are >> Strings, tuples, frozensets, and numbers.

**3.What are the main differences between lists and tuples in Python?**

Ans. The main difference between lists and tuples in Python is that lists are mutable, while tuples are immutable. This means that lists can be changed, but tuples cannot.

**4.Describe how dictionaries store data?**

Ans. Dictionaries are unordered collections of data and are represented with curly brackets { } . Like lists, dictionaries are mutable(changeable) and indexed. With dictionaries, data is stored in a key:value format. In this example, myCar is the variable that we have assigned our dictionary to.

**5.Why might you use a set instead of a list in Python?**

Ans. Because sets cannot have multiple occurrences of the same element, it makes sets highly useful to efficiently remove duplicate values from a list or tuple and to perform common math operations like unions and intersections.

**6.What is a string in Python, and how is it different from a list?**

Ans. A string is a sequence of characters between single or double quotes. A list is a sequence of items, where each item could be anything (an integer, a float, a string, etc).

**7.How do tuples ensure data integrity in Python?**

Ans. Tuples are immutable to ensure that their contents remain constant throughout their lifecycle, guaranteeing data integrity and reliability. This immutability allows tuples to be used as keys in dictionaries and elements in sets, as they can be hashed.

**8.What is a hash table, and how does it relate to dictionaries in Python?**

Ans. In Python, a hash table is a data structure that's implemented as a dictionary. A hash table is a way to organize data into key-value pairs, making it easy to find and access information.

**9.Can lists contain different data types in Python?**

Ans. However, in Python, lists can contain heterogeneous data types and objects. For instance, integers, strings, and even functions can be stored within the same list

**10.Explain why strings are immutable in Python?**

Ans. Python strings are "immutable" which means they cannot be changed after they are created (Java strings also use this immutable style). Since strings can't be changed, we construct *new* strings as we go to represent computed values.

**11.What advantages do dictionaries offer over lists for certain tasks?**

Ans. Dictionaries provide faster lookups compared to lists when searching by key, as they have an average complexity of O(1), while lists require O(n) in the worst case. Lists are faster for index-based access, as retrieving an element by index takes O(1), whereas dictionary lookups require computing a hash.

**12.Describe a scenario where using a tuple would be preferable over a list?**

Ans. Tuples are immutable. Hence, they are primarily used to store data that doesn't change frequently. Any operation can store data in a tuple when you don't want it to change. Tuples are great to use if you want the data in your collection to be read-only, never to change, and always remain the same and constant.

**13.How do sets handle duplicate values in Python?**

Ans. Here are some of the features of sets in Python: Duplicate items are not allowed. If items appear multiple times, only one will be recognized in the set. The items in a set are unordered

**14.How does the “in” keyword work differently for lists and dictionaries?**

Ans. As mentioned above, the in operation for the dictionary tests on keys. The key of the dictionary is a unique value as well as the set, and the execution time is about the same as for sets. On the other hand, dictionary values can be duplicated like a list.

**15.Can you modify the elements of a tuple? Explain why or why not?**

 Ans. No, you cannot modify the elements of a tuple in Python because tuples are immutable. This means that once a tuple is created, you can't change, add, or remove its elements.

**16.What is a nested dictionary, and give an example of its use case?**

Ans. A nested dictionary in Python is a dictionary where the values are themselves dictionaries. This allows for representing hierarchical or multi-layered data structures. A use case for nested dictionaries is organizing employee records, where you might store each employee's information (name, job title, etc.) as a nested dictionary, grouped by department.

**17.Describe the time complexity of accessing elements in a dictionary?**

Ans. The time complexity of retrieving a value by its key in a dictionary is O(1). This is because dictionaries use a hash table internally which allows constant time lookup. Why O(1)? Hash tables use the hash of the key to find the memory location which enables direct access.

**18.In what situations are lists preferred over dictionaries?**

Ans. For quick data look-ups, configurations, or caches, favor dictionaries. For ordered collections and sequence operations, such as maintaining a stack or queue, lists are more suitable.

**19.Why are dictionaries considered unordered, and how does that affect data retrieval?**

Ans. A dictionary is termed an unordered collection of objects because dictionaries do not maintain any inherent order of the items based on when they were added. In older versions of Python (before 3.7), dictionaries did not preserve insertion order at all.

**20.Explain the difference between a list and a dictionary in terms of data retrieval?**

Ans. In terms of data retrieval, lists access elements by numerical index, while dictionaries access elements by unique keys. Lists are ordered, so accessing elements by position is efficient. Dictionaries are unordered but provide fast lookup times based on keys, says Technogeeks.

**Practical Questions**

**1.Write a code to create a string with your name and print it?**

In [1]:
stri="Vishal"
print(stri)

Vishal

**2.Write a code to find the length of the string "Hello World"**

In [2]:
a="Hello World"
len(a)

11

**3.Write a code to slice the first 3 characters from the string "Python Programming".**

In [3]:
s = "Hello, Python!"
print(s[0:5])

Hello

**4.Write a code to convert the string "hello" to uppercase.**

In [4]:
a="hello"
a.upper()

'HELLO'

**5.Write a code to replace the word "apple" with "orange" in the string "I like apple".**

In [16]:
str_01=["I like apple"]
str_01[0]="I like orange"
str_01

['I like orange']

**6.Write a code to create a list with numbers 1 to 5 and print it.**

In [17]:
list_01=[1,2,3,4,5]
print(list_01)

[1, 2, 3, 4, 5]

**7.Write a code to append the number 10 to the list [1, 2, 3, 4].**

In [18]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

**8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].**

In [20]:
list_01=[1,2,3,4,5]
list_01.remove(3)
list_01

[1, 2, 4, 5]

**9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].**

In [21]:
list_03=['a','b','c','d']
list_03[1]

'b'

**10.Write a code to reverse the list [10, 20, 30, 40, 50].**

In [24]:
list_04=[10,20,30,40,50]
list_04.reverse()
list_04

[50, 40, 30, 20, 10]

**11.Write a code to create a tuple with the elements 100, 200, 300 and print it.**

In [27]:
tup_01=(100,200,300)
print(tup_01)

(100, 200, 300)

**12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').**

In [29]:
tup_02=('red','green','blue','yellow')
tup_02[1:4]

('green', 'blue', 'yellow')

**13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).**

In [34]:
tup_03 = (10, 20, 5, 15)
min_number = min(my_tuple)
min_number

5

**14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').**

In [35]:
tup_04=('dog', 'cat', 'rabbit')
tup_04.index('cat')

1

**15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.**

In [36]:
tup_05=('banana','apple','kiwi')
if 'kiwi' in tup_05:
  print("kiwi present")
else:
  print("n/a")

kiwi present

**16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.**

In [37]:
set_01={'a','b','c'}
print(set_01)

{'a', 'b', 'c'}

**17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.**

In [44]:
set_02={1,2,3,4,5}
set_02.clear()
print(set_02)

set()

**18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.**

In [47]:
set_03={1,2,3,4}
set_03.remove(4)
set_03

{1, 2, 3}

**19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.**

In [49]:
set_1={1,2,3}
set_2={3,4,5}
print(set_1.union(set_2))

{1, 2, 3, 4, 5}

**20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.**

In [50]:
set_3={1,2,3}
set_4={2,3,4}
print(set_3.intersection(set_4))

{2, 3}

**21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.**

In [71]:
dics_01={"name":"vishal",'age':"27",'city':"jaipur"}
print(dics_01)

{'name': 'vishal', 'age': '27', 'city': 'jaipur'}

**22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.**

In [69]:
dics_02={'name':'John','age':25}
dics_02['country']='USA'
dics_02

{'name': 'John', 'age': 25, 'country': 'USA'}

**23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.**

In [68]:
dics_03={'name':'Alice','age':30}
dics_03['name']

'Alice'

**24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.**

In [93]:
my_dict={'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
my_dict

{'name': 'Bob', 'city': 'New York'}

**25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.**

In [97]:
my_dict={'name': 'Alice', 'city': 'Paris'}
value = my_dict.get('city')

**26.Write a code to create a list, a tuple, and a dictionary, and print them all.**

In [75]:
list_01=[1,1.2,'list',4+6j]
tuple_01=(1,2,3,'python')
dict_01={"name":'Vishal','course':'data science'}
print(list_01,tuple_01,dict_01)

[1, 1.2, 'list', (4+6j)] (1, 2, 3, 'python') {'name': 'Vishal', 'course': 'data science'}

**27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced).**

In [79]:
list_06=[3,98,44,78,6]
list_06.sort()
list_06

[3, 6, 44, 78, 98]

**28.Write a code to create a list with strings and print the element at the third index.**

In [80]:
my_list = ["apple", "banana", "cherry", "date", "fig"]
print(my_list[2])

cherry

**29.Write a code to combine two dictionaries into one and print the result.**

In [81]:
dict_1 = {1: 'a', 2: 'b'}
dict_2 = {2: 'c', 4: 'd'}
print(dict_1 | dict_2)

{1: 'a', 2: 'c', 4: 'd'}

**30.Write a code to convert a list of strings into a set.**

In [85]:
s = "vishal"
print(type(s))
print(s)
set_s = set(s)
print(type(set_s))
print(set_s)

<class 'str'>
vishal
<class 'set'>
{'l', 'h', 'i', 'a', 's', 'v'}